<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{.article.Title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/layui/css/layui.css">
	<link rel="stylesheet" href="/vstatic/css/main.css">
	<link rel="stylesheet" href="/static/plugin/editormd/css/editormd.min.css" />
	<style>
		.article-content,#main{ max-width: 58em;margin:0 auto; font-size: 17px;color: #3d464d;line-height: 30px;
			font-family: "Microsoft YaHei",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
			border-bottom: 2px solid #ccc;
		}
		.lay-blog .container {
			width: 980px;
			margin: 0 auto;
		}
		.markdown-body h1{
			font-size: 26px;}
		.markdown-body h2{font-size: 24px;}.markdown-body h3{font-size: 22px;}
		.markdown-body h4{font-size: 20px;}.markdown-body h5{font-size: 18px;}
		.markdown-body h6{font-size: 16px;}
	</style>
</head>
<body class="lay-blog">
		<div class="header">
			<div class="header-wrap">
				<h1 class="logo pull-left">
					<a href="/">
						<img src="/vstatic/images/logo.png" alt="" class="logo-img">
						<img src="/vstatic/images/logo-text.png" alt="" class="logo-text">
					</a>
				</h1>
				<form class="layui-form blog-seach pull-left" action="">
					<div class="layui-form-item blog-sewrap">
					    <div class="layui-input-block blog-sebox">
					      <i class="layui-icon layui-icon-search"></i>
					      <input type="text" name="title" lay-verify="title" autocomplete="off"  class="layui-input">
					    </div>
					</div>
				</form>
				<div class="blog-nav pull-right">
					<ul class="layui-nav pull-left">
					  <li class="layui-nav-item layui-this"><a href="/">首页</a></li>
					  <li class="layui-nav-item"><a href="/article/message/index">留言</a></li>
					  <li class="layui-nav-item"><a href="about.html">关于</a></li>
					</ul>
					<a href="#" class="personal pull-left">
						<i class="layui-icon layui-icon-username"></i>
					</a>
				</div>
				<div class="mobile-nav pull-right" id="mobile-nav">
					<a href="javascript:;">
						<i class="layui-icon layui-icon-more"></i>
					</a>
				</div>
			</div>
			<ul class="pop-nav" id="pop-nav">
				<li><a href="index.html">首页</a></li>
				<li><a href="message.html">留言</a></li>
				<li><a href="about.html">关于</a></li>
			</ul>
		</div>
		<div class="container-wrap">
			<div class="container container-message container-details">
				<div class="contar-wrap">
					<div class="item">
						<div class="item-box  layer-photos-demo1 layer-photos-demo">
							<h3><a href="details.html">{{.article.Title}}</a></h3>
							<h5>发布于：<span>{{ .articlePublishTime }}</span></h5>
							<article id="main">
								<div class="content" style="display:none;">
									<textarea id="main-content">{{ str2html .article.Content }}</textarea>
								</div>
							</article>


							<img src="/vstatic/images/item.png" alt="" style="display: none;">
							<div class="count layui-clear">
								<span class="pull-left">阅读 <em>100000+</em></span>
								<span class="pull-right like"><i class="layui-icon layui-icon-praise"></i><em>999</em></span>
							</div>
						</div>
					</div>
					<a name="comment"> </a>
					<div class="comt layui-clear">
						<a href="javascript:;" class="pull-left">评论</a>
						<a href="comment.html" class="pull-right">写评论</a>
					</div>
					<div id="LAY-msg-box">
						<div class="info-item">
							<img class="info-img" src="/vstatic/images/info-img.png" alt="" >
							<div class="info-text">
								<p clayer-photos-demolass="title count">
									<span class="name">佚名</span>
									<span class="info-img like"><i class="layui-icon layui-icon-praise"></i>0</span>
								</p>
								<p class="info-intr">暂无</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<p>
				<span>&copy; {{.year}}</span>
				<span><a href="http://www.layui.com" target="_blank">layui.com</a></span> 
				<span>MIT license</span>
			</p>
			<p><span>人生就是一场修行</span></p>
		</div>
	<script src="/layui/layui.js"></script>
	<script src="/static/plugin/editormd/js/jquery.min.js"></script>
	<script src="/static/plugin/editormd/lib/marked.min.js"></script>
	<script src="/static/plugin/editormd/lib/prettify.min.js"></script>
	<script src="/static/plugin/editormd/lib/raphael.min.js"></script>
	<script src="/static/plugin/editormd/lib/underscore.min.js"></script>
	<script src="/static/plugin/editormd/lib/sequence-diagram.min.js"></script>
	<script src="/static/plugin/editormd/lib/flowchart.min.js"></script>
	<script src="/static/plugin/editormd/lib/jquery.flowchart.min.js"></script>
	<script src="/static/plugin/editormd/editormd.js"></script>
	<script>
		layui.config({
		  base: '/vstatic/js/'
		}).use('blog');
	</script>
	<script type="text/javascript">
		$(function() {
			// markdown内容的显示
			var testEditormdView;
			testEditormdView = editormd.markdownToHTML("main", {
//            markdown        : $('#main-content').html(),// + $("#append-test").text(),
				htmlDecode: "style,script,iframe",  // you can filter tags decode
				emoji: true,
				taskList: true,
				tex: true,  // 默认不解析
				flowChart: true,  // 默认不解析
				sequenceDiagram: true,  // 默认不解析
				codeFold: true
			});

		});
	</script>
</body>
</html>